<!DOCTYPE html>
<html>
  <body>
    <H1>
      HELLO CUSTOM PROMPT
    </H1>

    <form action="https://seejee-node-12.stage.auth0.com/continue?state=<%= state %>" method="post">
      <input type="submit" />
    </form>
</body>
</html>
